body {
    background-color: rgba(153, 180, 222, 0.265);
}

#logo {
    margin-right: 10px;
}

.navbar {
    vertical-align: middle;
}

.navbar-toggler-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
}

.jumbotron{
    background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi.huffpost.com%2Fgen%2F2920824%2Fimages%2Fo-FUTURE-OF-SHOPPING-facebook.jpg&f=1&nofb=1');
    opacity: .8;
    background-size: cover;
    height: 100%;
}


/* #product-card {
    height: calc(100vh/2);
} */

.result-page {
    background-color: aliceblue;
    max-width: 800px;
    height: auto;
}

.search {
    border-radius: 50%;
    padding: 0%;
}


#item_name {
    text-align: center;
    padding-top: 3%;
}

#item_image {
    /* padding-top: 2%; */
    padding: 2%;
    /* max-height: fit-content; */
}

#cart-page {
    background-color: aliceblue;
    max-width: 1200px;
    height: auto;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 30px;
}

.row-image{
	width: 100px;
}

.card{
    margin-bottom: 23px;
    /* height: 100%; */
}  

.card-image-top {
    width: 238px;
    height: 238px;
    object-fit: cover
}

/* .card-body {
    object-fit: cover;
} */

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

/* #results {
    display:inline-flex
} */

