{% extends "generica_app/layout.html" %}

{% block bathroom-content%} 

<h1>Rule your domain from a Porcelin Throne...</h1>
<div class="container">
    <div class="row" max-width="200px" height="auto">
      <div class="col-sm">
        <img id="bathroom_1" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fwhite-toilet-bowl-in-bathroom-with-clip-path-picture-id515158284%3Fk%3D6%26m%3D515158284%26s%3D612x612%26w%3D0%26h%3Dz5tVXYb-eXSTMXeaeyFu6vo9O1e06AyiPZIjYAz4JfM%3D&f=1&nofb=1" alt="">
      </div>
      <div class="col-sm">
        <img id="bathroom_2" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fst2.depositphotos.com%2F5776754%2F8464%2Fi%2F450%2Fdepositphotos_84647952-stock-photo-round-shower-head.jpg&f=1&nofb=1" alt="">
      </div>
      <div class="col-sm">
        <img id="bathroom_3" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi5.walmartimages.com%2Fasr%2Fc6bb23b1-90e2-43c8-ba21-dd6975b162cd_1.2f28ad0e030d5d1c0c559e8ef321deac.jpeg&f=1&nofb=1" alt="">
      </div>
    </div>
  </div>

{% endblock %}