{% extends "generica_app/layout.html" %}

{% load static %}

{% block bed-bath-content%} 
<div class="container">
  <h1 style="margin-bottom: 2%;">
    <u>Bedroom and Bathroom Decour and Acessories</u>
  </h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  {% for product in bed_and_bath_list %}
  <div class="col-mb-4">
      <div class="card border-dark">
         <img src="{{product.img_url}}" class="card-img-top" alt="..."> 
        <div class="card-body">
           <h5 class="card-title">{{product.title}}</h5>
           <p class="card-text">{{product.description}}</p>
          <hr>
           <h6><b>${{product.price}}</b></h6>
           <!-- not working yet: <form id="cart-button" href="add_to_cart"></form> -->
            <button type="submit">Add to Cart</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
