{% extends "generica_app/layout.html" %}

{% block title-content%} 
<hr>
<marquee><h1 style="font-family: Nuosu SIL"><u>🇺🇸 Welcome To Retail-Generica's E-Commerce Emporium! 🇺🇸</u></h1></marquee>
<hr>
<div class="container">
    <h1 class="display-4" style="font-family: Nuosu SIL">The Future of Retail.</h1>
<div class="jumbotron">
<!-- <img id="heropic" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi.huffpost.com%2Fgen%2F2920824%2Fimages%2Fo-FUTURE-OF-SHOPPING-facebook.jpg&f=1&nofb=1" alt="" > -->
</div>
</div>
{% endblock%}

{% block scripts%}
<script src="/static/js/main.js" defer></script>
{% endblock %}

<!-- 
    search form code snippet

    <form id="search-form">
    <label for="product"><b>Find Some Stuff!</b></label>
    <input id="product">
    <button type="submit">SUMBIT</button>
</form> -->

<!-- cart icon

<img id="cart" src="https://w7.pngwing.com/pngs/27/203/png-transparent-shopping-cart-shopping-basket-rectangle-shopping-bags-trolleys-storage-basket.png" height="30" width="30">-->