{% extends "generica_app/layout.html" %}

{% block searchpage-content%}
<div class="container result-page">
    <div class="row" id="search-results">
        <div class="col-lg-12" style="padding: 3% 2%">
            <div class="box-element card border-dark">
                <h1>What are you looking for?</h1>
                <form id="search-form">
                    <input id="product" placeholder="Find a Product">
                    <button type="submit">SEARCH</button>
                </form>
                </div>
            </div>
            <div class="conatiner result-page">
                <div class="col-mb-4">
                    <div class="card border-dark">
                      <img id="item_image" src="static/assets/placeholder.jpeg" class="card-img-top" alt="...">
                      <h3 id="item_name"><u>Product Title</u></h3>
                      <div class="card-body">
                      </div>
                    </div> 
        </div>
    </div>
</div>
{%  endblock %}

{% block scripts%}
<script src="/static/js/main.js" defer></script>
{% endblock %}